@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #EEEAE5;
  --color-secondary: #C5D8AF;
  --color-text: #546259;
  --color-accent: #495A34;
}